nav, nav a
{
    display: inline-block;
}

header
{
    width:542px;
    height: 94px;
}

nav a
{
    width:65px;
    color: black;
}

header a:first-of-type
{
    margin-right: 20px;
}

header a:last-of-type
{
    margin-left: 20px;
}

.glyphicon-menu-hamburger, .hidden
{
    display: none;
}

@media (max-width:549px)
{
    nav a:first-of-type, nav a:last-of-type
    {
        margin-right: 0;
        margin-left: 0;
    }

    nav
    {
        width: 100%;
        top: 60px;
        position: relative;
    }

    nav a
    {
        text-align: center;
        padding: 5%;
        width:100%;
        background: white;
        border-top: black solid 1px;
    }

    header img
    {
        position: absolute;
        left:2%;
        top:10%;
    }

    header
    {
        width:100%;
        margin:1vh auto;
        height: 57px;
    }

    nav:last-of-type
    {
        margin-top: -7%;
        border-bottom: black solid 1px;
    }

    .glyphicon-menu-hamburger
    {
        display: block;
        right:3%;
        position: absolute;
        font-size: 260%;
        top: 12%;
        border: darkgray solid 1px;
        padding: 5px 2px 4px 2px;
        border-radius: 6px;
    }
}