body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.full-bleed
{
    width: 100vw;
}

.back-img
{
    opacity:.4;
    object-fit: cover;
    height: 100vh;
}

footer
{
    margin-top:-40px;
}

header
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1vh;
    padding: 0;
    height:11vh;
    margin:3vh auto;
    width:120px;
    position: relative;
}

.main
{
    margin-top: -17vh;
    font-size: 0;
}

.text
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 0 auto;
    padding: 0;
    color:black;
    font-size: 16px;
}

h2.text
{
    font-size: 26px;
}

a, header, a span
{    
    text-decoration: none;
    z-index:56;
}

@media (max-width:550px)
{
    header img, header
    {
        width:75px;
    }
}